<form [formGroup]="documentsFormGroup" class='documents-form'>
  <mat-form-field>
    <mat-label>Серия: </mat-label>
    <input matInput maxLength=4 placeholder="XXXX" formControlName="passSeries" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Номер: </mat-label>
    <input matInput maxLength=6 placeholder="XXXXXX" formControlName="passNumber" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Место выдачи" formControlName="issuePlace" required></textarea>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]='issueDate' placeholder="Дата выдачи" formControlName="issueDate" required>
    <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
    <mat-datepicker startView="multi-year" #issueDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Адрес регистрации по паспорту" formControlName="registrationAdress"
      required></textarea>
  </mat-form-field>


  <mat-form-field>
      <mat-label>ИНН: </mat-label>
    <input matInput type='text' placeholder="1234567890" maxlength=10 placeholder="ИНН" formControlName="INN" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>СНИЛС: </mat-label>
    <input matInput type='text' placeholder="123-456-789-01" formControlName="SNILS" required>
  </mat-form-field>

</form>
