<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>О донорстве</h1>
    </div>
  </div>
  <div class="donate">
    <p>Донорство крови в России берет начало именно в Санкт-Петербурге. 20 апреля 1832 года в доме акушера Андрея
      Мартыновича Вольфа было произведено
      первое удачное переливание крови роженице от ее мужа. В честь этого события 20 апреля
      стало Национальным днем донора. <br>На сегодняшний день в Санкт-Петербурге имеется 18 пунктов переливания крови.
    </p>
    <div id="donate-lists">
      <h3 class="underlined-header">Почему стоит быть донором?</h3>
      <ul class="list">
        <li>
          Чтобы обеспечить достаточное количество крови в стране должно быть не менее 40 доноров на 1000 жителей. В
          России сейчас всего 14 доноров на 1000 человек.
        </li>
        <li>
          При соблюдении всех <a href="/recommend">рекомендаций</a> процедура проходит максимально безболезненно.
        </li>
        <li>
          Новейшие способы лечения онкологических и других тяжелых болезней при регулярных переливаниях крови дают
          хорошие шансы на исцеление.
        </li>
        <li>
          По данным Всемирной организации здравоохранения, люди, постоянно сдающие кровь, живут в среднем на 5 лет
          дольше среднестатистического человека.
        </li>
        <li>
          Активные доноры реже страдают сердечно-сосудистыми заболеваниями и легче переносят кровопотерю при ДТП и
          других несчастных случаях.
        </li>
        <li>
          Донор получает возможность контролировать состояние своего здоровья за счет регулярных медицинских осмотров и
          бесплатных анализов на самые распространенные инфекции.
        </li>
        <li id="typing-anchor">
          Несмотря на то, что сдача крови абсолютно безопасна, каждый донор застрахован государством. В случае
          причинения ему какого-либо вреда во время сдачи крови ущерб и расходы на лечение будут компенсированы.
        </li>
      </ul>
      <h3 class="underlined-header">Что такое типирование и зачем оно нужно?</h3>
      <ul class="list">
        <li>
          Типирование — это процедура проверки совместимости групп крови донора и человека, которому требуется пересадка
          костного мозга.
        </li>
        <li>
          У большинства людей есть "генетические близнецы" и только они могут стать донорами для пациентов.
        </li>
        <li>
          Для нахождения близнецов заводится база данных всех людей, прошедших типирование. К сожалению, в России эта
          база очень мала и больным
          приходится платить большие деньги для лечения за границей.
        </li>
        <li>
          Между тем поиск и <strong>привлечение российских доноров в десять раз дешевле!</strong>
        </li>
        <li>
          А главное, поиск в национальном регистре <strong>экономит время</strong>, важное для успешного лечения.
        </li>
      </ul>
      <h3 class="underlined-header">Как проходит процедура?</h3>
      <ul class="list">
        <li>
          Во время сдачи крови у вас берут дополнительные 9 мл для внесения в Национальный регистр.
        </li>
        <li>
          С момента сдачи может пройти несколько лет, прежде чем вас пригласят стать донором костного мозга.
        </li>
      </ul>

      <section>
        <h3 class="typing-header">Есть два способа забора костного мозга:</h3>
        <ul class="list">
          <li>
            Забор небольшой части из тазовой кости:
            <ul class="sublist">
              <li>
                Под анестезией.
              </li>
              <li>
                Время: 30 минут.
              </li>
              <li>
                Стационар 2 дня.
              </li>
            </ul>
          </li>
          <li>
            Взятие крови из вены:
            <ul class="sublist">
              <li>
                Принятие препарата «выгоняющего» кроветворные клетки.
              </li>
              <li>
                Попадание костного мозга в кровь.
              </li>
              <li>
                Анестезия не требуется.
              </li>
              <li>
                Кровь проходит через специальный аппарат.
              </li>
              <li>
                Время: 5-6 часов.
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <div id="warning-deny">
        <h3 align="center" class="typing-header"><strong>Помните, что на любом этапе вы можете отказаться от
            процедуры!</strong></h3>
      </div>
    </div>
  </div>
</div>
