<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Противопоказания</h1>
    </div>
  </div>
  <h3 class="underlined-header">Основные требования:</h3>
  <ul class="list">
    <li>Донор должен весить не менее 50 кг.</li>
    <li><strong>Зрение не ниже -6 Д.</strong></li>
    <li>Температура тела не выше 37°С.</li>
    <li>Cистолическое давление - от 90 до 160 мм.рт.ст, диастолическое - от 60 до 100 мм.рт.ст.</li>
    <li>Перед началом процедуры сдачи крови врач станции обязательно побеседует с донором и проведет осмотр.</li>
    <li>Если вы сомневаетесь, что можете быть донором, то перед сдачей обязательно посоветуйтесь с доктором.</li>
  </ul>

  <div class="ATTENTION">
    <h4><strong>ВНИМАНИЕ! Ниже перечисленны только наиболее часто встречающиеся заболевания. <br>
        С полным перечнем вы можете ознакомиться <a href="https://podari-zhizn.ru/main/node/7471"
          target="_blank">здесь</a>.</strong></h4>
  </div>

  <h3 class="underlined-header">Абсолютные противопоказания (отвод от донорства независимо от давности заболевания и
    результатов лечения):</h3>

  <div>
    <ul class="contraind-list">
      <li>Психические заболевания</li>
      <li>Сердечно-сосудистые заболевания:</li>
      <ul class="contraind-sublist">
        <li>гипертоническая болезнь II-III ст.</li>
        <li>атеросклероз</li>
      </ul>
      <li>Кожные болезни:</li>
      <ul class="contraind-sublist">
        <li>распространенные заболевания кожи воспалительного инфекционного характера</li>
        <li>грибковые поражения кожи и внутренних органов</li>
        <li>гнойничковые заболевания кожи (пиодермия, фурункулез, сикоз)</li>
      </ul>
      <li>Бронхиальная астма</li>
      <li>Ахилический гастрит</li>
      <li>Язвенная болезнь желудка и двенадцатиперстной кишки</li>
    </ul>

    <h3 class="underlined-header">Временные противопоказания:</h3>
    <style>
      table.content-table td {
        border: solid 1px #999;
        padding: 5px 10px;
        vertical-align: middle;
      }
    </style>
    <table width="100%" cellspacing="0" cellpadding="0"class="contraind-table">
      <tbody>
        <tr>
          <th valign="top" style="text-align:center;">Наименования</th>
          <th valign="top" style="text-align:center;">Срок отвода от донорства</th>
        </tr>
        <tr>
          <td valign="top">
            <div>1. Факторы заражения гемотрансмиссивными заболеваниями: </div>
          </td>
          <td valign="top">
            <div>&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>1.1. Трансфузии крови, ее компонентов</div>
          </td>
          <td valign="top">
            <div>6 месяцев </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>1.2. Оперативные вмешательства, в т. ч. аборты </div>
          </td>
          <td valign="top">
            <div>6 месяцев со дня оперативного вмешательства </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>1.3. Нанесение татуировки или лечение иглоукалыванием </div>
          </td>
          <td valign="top">
            <div>1 год с момента окончания процедур </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>1.4. Пребывание в загранкомандировках длительностью более 2 месяцев </div>
          </td>
          <td valign="top">
            <div>6 месяцев </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>1.5. Пребывание в эндемичных по малярии странах тропического и субтропического климата (Азия, Африка,
              Южная и Центральная Америка) более 3 месяцев </div>
          </td>
          <td valign="top">
            <div>3 года </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>1.6. Контакт с больными гепатитами: </div>
          </td>
          <td valign="top">
            <div>&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>гепатит А </div>
          </td>
          <td valign="top">
            <div>3 месяца </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>гепатиты В и С </div>
          </td>
          <td valign="top">
            <div>1 год </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>2. Перенесенные заболевания: </div>
          </td>
          <td valign="top">
            <div>&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>2.1. Инфекционные заболевания, не указанные в разделе «Абсолютные противопоказания»: </div>
          </td>
          <td valign="top">
            <div>&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- малярия в анамнезе при отсутствии симптомов и отрицательных результатов иммунологических тестов
            </div>
          </td>
          <td valign="top">
            <div>3 года </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- брюшной тиф после выздоровления и полного клинического обследования при отсутствии выраженных
              функциональных расстройств </div>
          </td>
          <td valign="top">
            <div>1 год </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- ангина, грипп, ОРВИ </div>
          </td>
          <td valign="top">
            <div>1 месяц после выздоровления </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>2.2. Прочие инфекционные заболевания, не указанные в разделе «Абсолютные противопоказания» и п. 2.1.
              настоящего раздела </div>
          </td>
          <td valign="top">
            <div>6 месяцев после выздоровления </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>2.3. Экстракция зуба </div>
          </td>
          <td valign="top">
            <div>10 дней </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>2.4. Острые или хронические воспалительные процессы в стадии обострения независимо от локализации
            </div>
          </td>
          <td valign="top">
            <div>1 месяц после купирования острого периода </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>2.5. Вегетососудистая дистония </div>
          </td>
          <td valign="top">
            <div>1 месяц </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>2.6. Аллергические заболевания в стадии обострения </div>
          </td>
          <td valign="top">
            <div>2 месяца после купирования острого периода </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>3. Период беременности и лактации </div>
          </td>
          <td valign="top">
            <div>1 год после родов, 3 месяца после окончания лактации </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>4. Период менструации </div>
          </td>
          <td valign="top">
            <div>5 дней со дня окончания менструации </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>5. Прививки: </div>
          </td>
          <td valign="top">
            <div>&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- прививка убитыми вакцинами (гепатит В, столбняк, дифтерия, коклюш, паратиф, холера, грипп),
              анатоксинами </div>
          </td>
          <td valign="top">
            <div>10 дней </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- прививка живыми вакцинами (бруцеллез, чума, туляремия, вакцина БЦЖ, оспа, краснуха, полимиелит
              перорально), введение противостолбнячной сыворотки (при отсутствии выраженных воспалительных явлений на
              месте инъекции) </div>
          </td>
          <td valign="top">
            <div>1 месяц </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- введение иммуноглобулина против гепатита В </div>
          </td>
          <td valign="top">
            <div>1 год </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- прививка вакциной против бешенства </div>
          </td>
          <td valign="top">
            <div>2 недели </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>6. Прием лекарственных препаратов: </div>
          </td>
          <td valign="top">
            <div>&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- антибиотики </div>
          </td>
          <td valign="top">
            <div>2 недели после окончания приема </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- анальгетики, салицилаты </div>
          </td>
          <td valign="top">
            <div>3 дня после окончания приема </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>7. Прием алкоголя </div>
          </td>
          <td valign="top">
            <div>48 часов </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>8. Изменения биохимических показателей крови: </div>
          </td>
          <td valign="top">
            <div>&nbsp;</div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- повышение активности аланин-аминотрансферазы (АЛТ) менее чем в 2 раза </div>
          </td>
          <td valign="top">
            <div>3 месяца </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- повторное повышение или увеличение АЛТ в 2 и более раз </div>
          </td>
          <td valign="top">
            <div>отстранение от донорства и направление на обследование </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <div>- диспротеинемия </div>
          </td>
          <td valign="top">
            <div>1 месяц </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
