  <div class='container'>
    <h2>Здесь Вы можете зарегистрироваться, чтобы получить доступ к личному кабинету и сдать кровь</h2>
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step [stepControl]="userInfoForm">
        <h2>Базовая информация для возможности сдать кровь</h2>
        <ng-template matStepLabel>Основная информация</ng-template>
        <h3>Основная информация: </h3>
        <user-basic-info-form (formReady)='formInitializer("basicInfo", $event)'></user-basic-info-form>
        <h3>Донорская информация: </h3>
        <user-donor-form (formReady)='formInitializer("donor", $event)'></user-donor-form>
        <div class='base-info-button'>
          <ng-container *ngIf="isBudget">
            <button mat-button matStepperNext>Next</button>
          </ng-container>
          <ng-container *ngIf="!isBudget">
            <button mat-button (click)="register()"
              [disabled]="userInfoForm.get('basicInfo').invalid || userInfoForm.get('donor').invalid">Подтвердить</button>
          </ng-container>
        </div>
      </mat-step>
      <ng-container *ngIf='isBudget'>
        <mat-step [stepControl]="universityInfoForm">
          <ng-template matStepLabel>Дополнительная информация</ng-template>
          <h2>Необходима для получения матпомощи</h2>
          <h3>Университет: </h3>
          <user-university-form (formReady)='formInitializer("university", $event)'></user-university-form>
          <h3>Документы: </h3>
          <user-documents-form (formReady)='formInitializer("documents", $event)'></user-documents-form>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button matStepperNext>Далее</button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Готово!</ng-template>
          Подтвердите введенную информацию
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button (click)="stepper.reset()">Подтвердить</button>
          </div>
        </mat-step>
      </ng-container>
    </mat-horizontal-stepper>
  </div>
