<div class='container'>
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="userInfoForm">
      <ng-template matStepLabel>Основная информация</ng-template>
      <user-basic-info-form (formReady)='formInitializer("basicInfo, $event")'></user-basic-info-form>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="universityInfoForm">
      <ng-template matStepLabel>Документы</ng-template>
      <user-university-form></user-university-form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Готово!</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
