<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Рекомендации</h1>
    </div>
  </div>

  <p>
  </p>
  <h3 class="underlined-header">Перед сдачей крови:</h3>
  <ul class="list">
    <li>Сдавать кровь в экспоцентре <strong>НЕ</strong> могут:</li>
    <ul class="sublist">
      <li>Доноры, чей вес ниже 58 кг.</li>
      <li>Желающие пройти процедуру <a href="/donate/#typing-anchor">типирования</a>.</li>
    </ul>
    <li><strong>Со дня окончания менструации должно пройти 5 дней.</strong></li>
    <li><b>За&nbsp;72&nbsp;часа не принимать лекарства, содержащие аспирин и&nbsp;анальгетики.</b><br>
      (анальгин, нурофен, парацетамол и <a
        href="https://ru.wikipedia.org/wiki/%D0%90%D0%BD%D0%B0%D0%BB%D1%8C%D0%B3%D0%B5%D1%82%D0%B8%D0%BA">другие</a>)
    </li>
    <li><b>За&nbsp;48&nbsp;часов нельзя употреблять алкоголь!</b></li>
    <li>Накануне и&nbsp;в&nbsp;день сдачи крови не&nbsp;рекомендуется употреблять:</li>
    <ul class="sublist">
      <li>Жирную, жареную острую и копченую пищу;</li>
      <li>Молочные продукты, яйца и масло, шоколад и финики;</li>
      <li>Нельзя есть <strong>бананы.</strong></li>
    </ul>
    <li>Лучше пить сладкие напитки и&nbsp;есть хлебобулочные изделия, овощи и&nbsp;фрукты.</li>
    <li>Утром нужно легко позавтракать и пить как можно больше воды.</li>
    <li><b>За 1 час до сдачи не курить.</b></li>
    <li>Чем раньше происходит донация, тем легче переносится эта процедура.</li>
    <li>После&nbsp;12.00 сдавать кровь рекомендуется только постоянным донорам.</li>
    <li>Не&nbsp;планируйте сдачу крови в стрессовый период (перед сдачей экзамена и т.п.).</li>
  </ul>
  <p></p>
  <p>
  </p>
  <h3 class="underlined-header">После сдачи крови:</h3>
  <ul class="list">
    <li>Посидите расслабленно в&nbsp;течение&nbsp;10–15 минут.</li>
    <li>Если вы&nbsp;чувствуете головокружение или слабость, обратитесь к&nbsp;персоналу.</li>
    <li><b>В течение 1 часа не курите.</b></li>
    <li>Не&nbsp;снимайте повязку в&nbsp;течение&nbsp;3–4 часов.</li>
    <li>Старайтесь не&nbsp;подвергаться значительным физическим нагрузкам в&nbsp;течение суток.</li>
    <li>Не употребляйте алкоголь в&nbsp;течение суток.</li>
    <li>Регулярно питайтесь и много пейте в течение 2 суток.</li>
    <li>Прививки после сдачи крови разрешаются не&nbsp;ранее чем через 10&nbsp;суток.</li>
    <li>Донор должен <strong>повторно прийти на станцию переливания крови в течение 6 месяцев</strong>, чтобы пройти
      повторную проверку, подтверждающую, что он здоров и все компоненты крови могут быть использованы для переливания.
    </li>
  </ul>
  <p></p>
  <h3 class="underlined-header">Как часто можно сдавать кровь?</h3>
  <ul class="list">
    <li>
      Мужчины могут сдавать кровь не&nbsp;более 5&nbsp;раз в&nbsp;год.
    </li>
    <li>
      Женщины&nbsp;— не&nbsp;более 4.
    </li>
  </ul>
  <p></p>



</div>
