<mat-card class='main-info-content mt-4'>
  <mat-card-header>
    <mat-card-title>Основная информация</mat-card-title>
    <mat-card-subtitle>Здесь Вы можете посмотреть вашу статистику</mat-card-subtitle>
  </mat-card-header>

  <mat-list>
    <mat-list-item>Можно ли сдавать? <span class='ml-5'>Да</span></mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item>Последняя кроводача <span class='ml-5'>11.08.1997</span></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Количество кроводач <span class='ml-5'>6</span></mat-list-item>
    <mat-divider></mat-divider>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Доступные донорские пункты
        </mat-panel-title>
        <mat-panel-description>
          Пункты, в которых Вы можете сдать кровь
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-list>

</mat-card>
