<div class='container'>
  <h1>Личный кабинет</h1>

  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        <h3>Время сдачи</h3>
      </div>

      <div class='row'>
        <p>Вы не записаны :( выберите из доступных на данный момент</p>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        <h3>Ваши достижения</h3>
      </div>
      <div class='row'>
        <p></p>
      </div>
    </div>


  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        <h3>Личные данные </h3>
      </div>
      <div class='row'>
        <p></p>
      </div>
    </div>


  </div>

</div>
