<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Об акции</h1>
    </div>
  </div>
  <h3>Акция "День донора" расширяется, теперь выезды в различные пункты сдачи крови проходят практический каждый месяц.
    Вам больше не нужно
    ждать полгода, чтобы поучаствовать в ней!</h3>
  <h3>На этой странице мы подробно опишем все шаги, которые вы должны пройти прежде чем станете полноправным донором
    в рамках нашей акции.</h3>
  <h3 class="underlined-header">Содержание:</h3>
  <ul class="content-list">
    <li><a href="#Registration">Личный кабинет</a></li>
    <li><a href="#Time">Время сдачи</a></li>
    <li><a href="#Call">Звонок из колл-центра</a></li>
    <li><a href="#Documents">Документы</a></li>
    <li id="Registration"><a href="#donation-day">День сдачи</a></li>
    <li id="Registration"><a href="#another">Возможные проблемы</a></li>
  </ul>

  <div id="Registration" class="event first_step">
    <h3 class="underlined-header">Шаг 1. Регистрация или авторизация.</h3>
    <div class="event-block event-text">
      <ul class="list">
        <li>Первым делом пройдите регистрацию или войдите в свой личный кабинет на сайте и заполните все поля.</li>
        <li>Обратите особое внимание на поля: <b>Паспорт</b>, <b>СНИЛС</b> и <b>ИНН</b>.</li>
        <li>Если какая-либо информация изменилась, то обязательно внесите ее на сайт, от этого зависит, придется ли вам
          самим потом возиться с бумагами.</li>
        <li>Если вы согласны сдавать кровь <strong>на выезде</strong> (то есть не в самом здании Политеха, а в
          больнице), то обязательно
          <strong>выберите пункт "Согласен"</strong>.</li>
        <li id="Time">Все подробности о регистрации можно узнать <a href="https://vk.com/polydonor?w=wall-106328376_434"
            target="_blank">по этой ссылке.</a></li>
      </ul>
    </div>
  </div>

  <div class="event second-step">
    <h3 class="underlined-header">Шаг 2. Выберите время сдачи.</h3>
    <div class="event-block event-text">
      <ul class="list">
        <li>
          Выберите желаемое время сдачи по приоритетам.
        </li>
        <li>
          Если вы не можете выбрать время, то скорее всего в ближайшее время акция не проводится. Если вы уверены в
          обратном, то обязательно проверьте
          пункт "Сдача на выезде" в вашем личном кабинете.
        </li>
        <li id="Call">
          Дополнительную информацию о выездах смотрите в нашей <a href="https://vk.com/polydonor" target="_blank">группе
            Вконтакте</a>.
        </li>
      </ul>
    </div>
  </div>

  <div class="event third-step">
    <h3 class="underlined-header">Шаг 3. Дождитесь звонка волонтера колл-центра.</h3>
    <div class="event-block event-text">
      <ul class="list">
        <li>
          Если вы все сделали правильно, то в ближайшее время с вами свяжется волонтер и сообщит дополнительную
          информацию.
        </li>
        <li id="Documents">
          Между регистрацией и звонком может пройти несколько дней.
        </li>
      </ul>
    </div>
  </div>

  <div class="event fourth-step">
    <h3 class="underlined-header">Шаг 4. Подготовьтесь к сдаче, соберите необходимые документы.</h3>
    <div class="event-block event-text">
      <ul class="list">
        <li>
          Несколько дней перед сдачей соблюдайте <a href="/recommend">рекомендации</a>, указанные на сайте.
        </li>
        <li>
          Соберите необходимые документы:
          <ul class="sublist">
            <li>Паспорт</li>
            <li>Регистрация в РФ более года (для иностранцев)</li>
            <li>Регистрация в СПб (для сдающих в экспоцентре и Елизаветинской больнице)</li>
            <li>Ксерокопия паспорта (главная страница и страница с пропиской).<br>
              <strong>Для сдающих в экспоцентре нужно принести 2 экземпляра!</strong></li>
            <li>Ксерокопия свидетельства ИНН (или распечатку с <a href="https://service.nalog.ru/inn.do"
                target="_blank">сайта</a>)</li>
          </ul>
        </li>
        <li id="donation-day">
          Первые три документа нужны для того, чтобы сдать кровь, а следующие – для оформления донору материальной
          помощи.
        </li>
      </ul>
    </div>
  </div>

  <div class="event fifth-step">
    <h3 class="underlined-header">Шаг 5. День сдачи.</h3>
    <div id="expo">
      <h3 class="underlined-header">Экспоцентр.</h3>
      <div class="event-block event-text">
        <ul class="list">
          <li>Чтобы сдать кровь в экспоцентре вам нужно просто прийти туда со всеми документами на руках.</li>
          <li>Экспоцентр находится в главном здании слева по коридору.<br>
            <img width="450px" src="/web/images/way.jpg">
          </li>
        </ul>
      </div>
    </div>
    <div id="hospital">
      <h3 class="underlined-header">Выезд</h3>
      <div class="event-block event-text">
        <ul class="list">
          <li>
            Чтобы сдать кровь на выезде нужно подойти за 10-15 минут до вашего времени к месту сбора со всеми
            документами на руках.
          </li>
          <li>
            <strong>Если вы хотите добраться до больницы самостоятельно, то обязательно заранее предупредите
              координаторов!</strong>
          </li>
          <li>
            Место сбора находится справа от Храма Покрова Пресвятой Богородицы у стендов.<br>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d1410.2468059512705!2d30.371509362417278!3d60.008605738888534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e2!4m5!1s0x4696339c58d2d6bf%3A0x923ae29602ac7559!2z0J_QvtC70LjRgtC10YXQvdC40YfQtdGB0LrQsNGPLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsw!3m2!1d60.0089373!2d30.3708395!4m3!3m2!1d60.008379899999994!2d30.3716926!5e0!3m2!1sru!2sru!4v1521835178735"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </li>
          <li>
            Найдите координатора выезда, отметьтесь и следуйте его указаниям.
          </li>
          <li id="another">
            <strong>После сдачи крови обязательно дайте координатору сфотографировать полученную справку.</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="event another-info">
    <h3 class="underlined-header">Возможные проблемы.</h3>
    <div class="event-block event-text">
      <ul class="list">
        <li>Если вы не донесли некоторые документы или обнаружили ошибку в заявлении на материальную помощь, то донести
          их вы можете в Штаб студенческих отрядов и отдать волонтерам.
          <img id="SO_HQ" src="/web/images/HQ_SO.jpg">
        </li>
      </ul>
    </div>
  </div>

</div>
