.admin-panel {
  position: absolute;
  top: 64px; // Nav panel
  left: 0;
  bottom: 0;
  right: 0;
}
.admin-panel-menu{
  background: #e9e9e9;
  width: 15%;
}

.personal-cabinet-content {
  background: white;
}

.personal-cabinet-container{
  min-height: 100%;
}
