<mat-toolbar></mat-toolbar>
<mat-sidenav-container class='admin-panel'>
    <mat-sidenav mode='side' opened class='admin-panel-menu'>

      <mat-nav-list>
        <mat-list-item *ngFor="let link of navLinks">
          <a matLine [routerLink]="link.path" routerLinkActive #rla="routerLinkActive">
            {{link.name}}
          </a>
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class='personal-cabinet-content'>
      <div class='container-fluid personal-cabinet-container'>
        <div class='row'>
          <div class='col-md-12'>
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
