<p>
  Создать/Изменить время
</p>
<form mat-form>
  <mat-form-field>
    <input matInput placeholder="Пункт">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Дата">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Время">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Max количество доноров">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Остановить регистрацию?">
  </mat-form-field>

  <button mat-button>Отменить</button>
  <button mat-button>Сохранить</button>
</form>
