
// Sticky Footer
$footer-height: 0px;

.user-side-content {
  display: flex;
  min-height: calc(100vh - $footer-height);
  flex-direction: column;
}

.footer {
  flex: 1;
  height: $footer-height;
  background-color: transparent;
}
