
// Sticky Footer
$footer-height: 100px;

.user-side-content {
  display: flex;
  min-height: calc(100vh - 100px);
  flex-direction: column;
}

.footer {
  flex: 1;
  height: $footer-height;
  background-color: red;
}
