<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>О нас</h1>
      <p>Мы так любим себя, что написали целую страничку.</p>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 ">
      <h2 class="featurette-heading">
        Как все начиналось </h2>
      <article class="about beginning">
        <p class="about text">Акция День донора в том виде, в котором мы видим ее сейчас, берет свое начало на Выезде
          Актива Политеха в 2015 году, где проект, представленный экс-командиром отряда «Орион» Александром Борововым,
          выиграл грант.</p>
        <div class="about quote">
          <p class="about quote-text">«Быть донором — очень простой способ помочь людям, попавшим в беду. День донора в
            СПбПУ — уникальное мероприятие, ведь больше нигде доноры не получают такой поддержки, как у нас в
            университете.
            В этом году мы помогаем сделать День донора еще более уникальным за счет повышения удобства сдачи крови,
            например, планируем обойтись без очереди».</p>
          <p class="about quote-author">Александр Боровов, март 2016 года.</p>
        </div>
      </article>
    </div>
    <div class="col-md-5 ">
      <img class="featurette-image img-responsive center-block" src="/web/files/about/borovov_vap.jpg"
        alt="Как все начиналось">
    </div>
  </div>
  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">
        ССО «Орион», ССО «ГОСТ» и остальные отряды </h2>
      <article class="about beginning">
        <p class="about text">Сразу после конкурса началась активная работа над преобразованием акции, в основном руками
          отрядников Политеха. И первыми, кто начал воплощать проект в жизнь, стали бойцы строительных отрядов «Орион» и
          «ГОСТ».</p>
        <div class="about quote">
          <p class="about quote-text">«Мне посчастливилось участвовать еще в самом первом Дне донора в Политехе. Как
            только узнали, что Саша получил грант на конкурсе, были очень рады, работа пошла полным ходом».</p>
          <p class="about quote-author">Дмитрий Смирницкий, комиссар ССО «Орион» (2015-2016)</p>
        </div>
      </article>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/web/files/about/SO.jpg"
        alt="ССО «Орион», ССО «ГОСТ» и остальные отряды">
    </div>
  </div>
  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-7 ">
      <h2 class="featurette-heading">
        Штаб студенческих отрядов Политеха </h2>
      <article class="about beginning">
        <p class="about text">Активную поддержку акции с самого начала осуществляло все отрядное движение СПбПУ.
          Отдельно стоит выделить экс-командира штаба Николая Снегирева, который помог стать Дню донора полноправной
          организацией в рамках Политеха.</p>
        <div class="about quote">
          <p class="about quote-text">«Большая часть моих знакомых в общественной сфере Политеха была связана с
            отрядами, например, великий командир отрядов Коля Снегирев, который очень-очень сильно мне помог связями.
            Можно бесконечно перечислять людей, которые делали это мероприятие и вкладывали в него душу...»</p>
          <p class="about quote-author">Александр Боровов, сентябрь 2017 года.</p>
        </div>
      </article>
    </div>
    <div class="col-md-5 ">
      <img class="featurette-image img-responsive center-block" src="/web/files/about/snegirev.jpg"
        alt="Штаб студенческих отрядов Политеха">
    </div>
  </div>
  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">
        Фонд Доноров </h2>
      <article class="about beginning">
        <p class="about text"><a href="https://vk.com/fonddonorov" target="_blanck">Фонд Доноров</a> — проект по
          популяризации донорства крови и костного мозга, развитию кадрового донорства, в том числе среди молодёжи.<br>
          Без их поддержки невозможно представить День донора в нынешнем виде. Помимо донорства нами совместно
          проводятся акции помощи детям с онкологическими заболеваниями.</p>
      </article>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/web/files/about/logo_fond.png" alt="Фонд Доноров">
    </div>
  </div>
  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-7 ">
      <h2 class="featurette-heading">
        Городская станция переливания </h2>
      <article class="about beginning"><a href="http://www.yadonor.ru/spbgspk">Организация</a>, занимающаяся
        приемом донорской крови. Именно врачи Городской станции переливания приезжают в Экспоцентр, чтобы политехники
        могли сдать кровь в стенах родного университета. Наша команда выражает особую благодарность начальнику выездной
        станции переливания, Александру Михайловичу.<p></p>
      </article>
    </div>
    <div class="col-md-5 ">
      <img class="featurette-image img-responsive center-block" src="/web/files/about/gspk_au-2.png"
        alt="Городская станция переливания">
    </div>
  </div>
  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">
        Политех </h2>
      <article class="about beginning">
        <p class="about text">Все наши попытки были бы безуспешны без нашего любимого <a
            href="http://www.spbstu.ru">университета</a> и его сотрудников. Хочется выделить старания сотрудников
          социального отдела, а также большую отзывчивость <a
            href="http://www.spbstu.ru/structure/otdel_peredovykh_informatsionnykh_tekhnologiy/">начальника</a> отдела
          передовых информационных технологий.</p>
      </article>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="/web/files/about/emblema_polytech_au.png"
        alt="Политех">
    </div>
  </div>
  <hr class="featurette-divider">

  <article class="about today">
    <h2>День донора сегодня</h2>
    <p>В 2018 году День донора представляет собой самую большую донорскую ячейку в Санкт-Петербурге. Это организованная
      команда волонтеров-единомышленников, готовая вывести донорство и типирование в городе на новый уровень.
    </p>
    <img src="/web/files/about/volunteers.jpg" class="about-image">
  </article>
</div>
