
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Reboot
@import "~bootstrap/scss/reboot";
// Import Grid
@import "~bootstrap/scss/grid";
// Import Utilities
@import "~bootstrap/scss/utilities"; // add css utilities

@import 'reset';

html, body { height: 100%;

 }


 /*

  Gradient:
  background-color: rgba(169, 232, 255, 0.8);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM1M2QxZmYiIHN0b3Atb3BhY2l0eT0iMC41OSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0, rgb(255, 255, 255)),color-stop(1, rgba(83, 209, 255, 0.59)));
  background-image: -webkit-repeating-linear-gradient(right,rgb(255, 255, 255) 0%,rgba(83, 209, 255, 0.59) 100%);
  background-image: repeating-linear-gradient(to left,rgb(255, 255, 255) 0%,rgba(83, 209, 255, 0.59) 100%);
  background-image: -ms-repeating-linear-gradient(right,rgb(255, 255, 255) 0%,rgba(83, 209, 255, 0.59) 100%);


 second variant
   background-color: rgba(199, 236, 255, 0.8);
a:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM4ZWQ4ZmYiIHN0b3Atb3BhY2l0eT0iMC41OSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0, rgb(255, 255, 255)),color-stop(1, rgba(142, 216, 255, 0.59)));
  background-image: -webkit-repeating-linear-gradient(right,rgb(255, 255, 255) 0%,rgba(142, 216, 255, 0.59) 100%);
  background-image: repeating-linear-gradient(to left,rgb(255, 255, 255) 0%,rgba(142, 216, 255, 0.59) 100%);
  background-image: -ms-repeating-linear-gradient(right,rgb(255, 255, 255) 0%,rgba(142, 216, 255, 0.59) 100%);


  */


