<app-option [title]='documentTitle' [subtitle]='documentSubtitle' [options]='documentOptions' [isAddable]='true'>
</app-option>
<app-option [title]='documentTitle' [subtitle]='documentSubtitle' [options]='documentOptions' [isAddable]='false'>
</app-option>
<app-option [title]='documentTitle' [subtitle]='documentSubtitle' [options]='documentOptions' [isAddable]='false'>
</app-option>
<app-option [title]='documentTitle' [subtitle]='documentSubtitle' [options]='documentOptions' [isAddable]='false'>
</app-option>
